In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

print("Imported the packages")

Imported the packages

In [2]:
# Generate 'random' data
np.random.seed(0)
X = 2.5 * np.random.randn(100) + 1.5   # Array of 100 values with mean = 1.5, stddev = 2.5
res = 0.5 * np.random.randn(100)       # Generate 100 residual terms
y = 2 + 0.3 * X + res                  # Actual values of Y

In [3]:
# Create pandas dataframe to store our X and y values
df = pd.DataFrame(
    {'X': X,
     'y': y}
)

In [4]:
# Show the first five rows of our dataframe
df.head()

          X         y
0  5.910131  4.714615
1  2.500393  2.076238
2  3.946845  2.548811
3  7.102233  4.615368
4  6.168895  3.264107